@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>PC Hardware Configurator</h1>
</div>
<div class="row">
    <h2>Welcome to PConfig</h2>
    <p>In order to create a new configuration, press "Configure" on the navbar. If you have an account you can view previously saved configurations after pressing "My Configurations".</p>
</div>
