body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* MY CSS */

.panel-default > .panel-heading {
    background-image: none;
    background-color: #555555;
    color: white;
    border: 2px solid #555555;
    border-radius: 5px 5px 0px 0px;
    margin: 0px;
}

.panel-default > .panel-body {
    border: 2px solid #555555;
    border-radius: 0px 0px 5px 5px;
}

#row-container {
    margin-top: 10px;
}

#category-column {
    padding: 4px;
}

#category-panel-body {
    padding: 0px;
    height: 397px;
}

#hardware-panel-body {
    height: 397px;
}

#hardware-column {
    padding: 4px;
}

#tempconfig-panel-body {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#tempconfig-column{
    padding: 4px;
}

#category-buttons {
    width: 100%;
    margin: 0px;
    color: black;
    border-radius: 0px;
}

.custom-category-button {
    height: 50px;
    line-height: 50px;
    padding: 0px;
    color: black;
    background: none;
    border: none;
    border-top: 0.5px solid #555555;
    border-radius: 0px;
}

    .custom-category-button:hover {
        color: black;
        background-color: rgba(0, 0, 0, 0.3);
        border: none;
        border-top: 0.5px solid #555555;
        border-radius: 0px;
    }

.temp-conf-category-row {
    border-bottom: 1px solid #555555;
    text-align: center;
    padding: 8px;
}

.temp-conf-category {
    font-size: 15px;
    font-weight: bold;
}

.temp-conf-remove-bt{
    float: right;
} 

.temp-conf-names {
    font-weight: bold;
    float: right;
}

.temp-conf-values {
    float: left;
}



.temp-conf-well-1 {
    margin:5px;
    height: 230px;
    padding-top:0px;
}

.temp-conf-well-2 {
    margin: 5px;
    height: 170px;
    padding-top: 0px;
}

.temp-conf-element-column {
    padding: 5px;
}

.temp-conf-table > tbody > tr > td{
    font-size: 12px;
    border: none;
    padding: 2px;
    width: 50%;
}

#add-conf-bt{
    float:right;
    height:25px;
    width: 80px;
    line-height:25px;
    text-align: center;
    padding: 0px;
}

#remove-conf-bt {
    float: right;
    height: 25px;
    width: 80px;
    background-color: red;
    border-color: red;
    line-height: 25px;
    text-align: center;
    padding: 0px;
}

.glyphicon-remove {
    color: red;
}

.glyphicon-plus {
    color: green;
}

.hw-parameter-wrong{
    background-color:red;
}
