
@{
    ViewData["Title"] = "Configure";
}

<div class="container-fluid" id="row-container">
    <div class="row">
        <div class="col-md-3" id="category-column">
            <div class="panel-default">
                <div class="panel panel-heading">Categories</div>
                <div class="panel panel-body" id="category-panel-body">
                    <div class="btn-group-vertical" id="category-buttons">
                        <a asp-controller="Configure" asp-action="LoadCPUs" class="btn btn-primary custom-category-button">Processor</a>
                        <a asp-controller="Configure" asp-action="LoadGPUs" class="btn btn-primary custom-category-button">Graphics Card</a>
                        <a asp-controller="Configure" asp-action="LoadMOBOes" class="btn btn-primary custom-category-button">Motherboard</a>
                        <a asp-controller="Configure" asp-action="LoadRAMs" class="btn btn-primary custom-category-button">RAM Memory</a>
                        <a asp-controller="Configure" asp-action="LoadPSUs" class="btn btn-primary custom-category-button">Power Supply</a>
                        <a asp-controller="Configure" asp-action="LoadCases" class="btn btn-primary custom-category-button">Case</a>
                        <a asp-controller="Configure" asp-action="LoadCoolers" class="btn btn-primary custom-category-button">Cooling</a>
                        <a asp-controller="Configure" asp-action="LoadStorages" class="btn btn-primary custom-category-button">Storage</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9" id="hardware-column">
            <div class="panel-default">
                <div class="panel panel-heading">Hardware</div>
                <div class="panel panel-body" id="hardware-panel-body">
                    Choose your category.

                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("TempConfig")
</div>


